.blue {
	color: blue;
}
.questions {
	font-size: 150%;
	margin-left: 30%;
}
.reveal h1 {
  width: 800px !important;
	padding-left: 140px;
	padding-right: 30px;
	border-radius: 55px;
}
.img-bg {
  background: no-repeat center/80% url("pcb.jpg") !important;
}

html:-webkit-full-screen-ancestor {
  background-color: inherit;
}

html {
  background-color: #fff !important;
}
